* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #EEEDF0;
}


a {
    text-decoration: none;
    color: white;

}

a:hover {
    color: #4a8c86;
}

.navbar .nav-item:hover .nav-link {
    color: #4a8c86;
}

.bgHeader {
    background-color: black;

}

.marginRigthHeader {
    margin-right: 7%;
    font-size: 1.50rem;
    font-family: 'Barlow', sans-serif;
}

.marginLogo {

    margin-left: 15px;
}

.bodyImagenPrincipal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    /* padding-top: 100px; */

    background-image: url("../Imagenes/portada.jpg");
    background-size: cover;

    background-position: center;
    height: 620px;


}


.botonReservas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;

}

.buttonRadiousAndMore {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 70px;
    width: 290px;
    border-radius: 6px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14.4px;
    background-color: black;
    opacity: 0.90;
    color: white;
    font-weight: 700;
    border: 2px solid white;
    ;



}


.btn:hover {
    font-weight: 500;
    background-color: white;
    color: black;
    border: 2px solid black;
    ;
    opacity: 0.5;


}




.contenedorSeleccionNivel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: #EEEDF0;
    height: 650px;
}

.containerDesplegableyTitulo {
    width: 70%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
}

.containerDesplegableyTitulo {
    margin-top: 10px;
}

.labelBGAndMore {
    border-color: black;
    height: 70px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: black;
    margin-bottom: 40px;
}


.buttonRadiousAndMoreContinue {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 70px;
    width: 250px;
    border-radius: 6px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14.4px;
    background-color: black;
    opacity: 0.90;
    color: white;
    font-weight: 700;
    border: 2px solid white;

}

.desplegableNivel {
    font-weight: 700;
}

.textoError {
    color: red;
    margin-top: 20px;
}

.tituloSubrayado {
    width: 540px;
    border-bottom: solid 3px black;
    margin-bottom: 20px;
}

.contenedorSeleccionDia {
    border-top: solid 3px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: #EEEDF0;
    height: 650px;
}

.tituloSubrayadoDia {

    width: 575px;
    border-bottom: solid 3px black;
    margin-bottom: 20px;


}


.contenedorSeleccionCurso {
    border-top: solid 3px black;
    height: 400px;
    background-color: #EEEDF0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}


.contenedorUlListados {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-decoration: none;
    list-style-type: none;

}

.containerFecha {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
    text-decoration: none;
    list-style: none;

}



li.liListados {
    list-style: none;
    list-style-type: none;
}

.contenedorPorListado {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    border-bottom: solid 1.5px black;
    width: 100%;
    margin-top: 20px;
    height: 100px;
}

.pruebaClassName {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-content: center;

}

.contenedorNivel {
    margin-right: 20px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
}

.tituloListado {
    font-weight: 500;
    font-size: 20px;
}

.tituloSubrayadoListadoCursos {
    width: 540px;
    border-bottom: solid 3px black;
    margin-top: 80px;
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.contenedorPrincipalSeleccionCurso {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 100%;

}

.seccionDeListado {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 100%;

}

.buttonRadiousAndMoreListado {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 50px;
    width: 200px;
    border-radius: 6px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14.4px;
    background-color: black;
    opacity: 0.90;
    color: white;
    font-weight: 700;
    border: 2px solid white;
    margin-left: 25px;   
}

.sinDatosParaMostrarDiv{
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;

}


.espacioDeListado{
    height: 400px;
}


.seccionCarritoCursoElegido {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    border-bottom: solid 1.5px black;
    width: 100%;
    margin-top: 20px;
    height: 100px;
}