* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #EEEDF0;
}


a {
    text-decoration: none;
    color: white;

}

a:hover {
    color: #4a8c86;
}

.navbar .nav-item:hover .nav-link {
    color: #4a8c86;
}

.bgHeader {
    background-color: black;

}

.marginRigthHeader {
    margin-right: 7%;
    font-size: 1.50rem;
    font-family: 'Barlow', sans-serif;
}

.marginLogo {

    margin-left: 15px;
}

.bodyImagenPrincipal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    /* padding-top: 100px; */

    background-image: url("../Imagenes/portada.jpg");
    background-size: cover;

    background-position: center;
    height: 620px;


}


.inputError {
    border-color: red;
}

.botonReservas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;

}

.buttonRadiousAndMore {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 70px;
    width: 290px;
    border-radius: 6px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14.4px;
    background-color: black;
    opacity: 0.90;
    color: white;
    font-weight: 700;
    border: 2px solid white;
    ;



}


.btn:hover {
    font-weight: 500;
    background-color: white;
    color: black;
    border: 2px solid black;
    ;
    opacity: 0.5;


}




.contenedorSeleccionNivel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: #EEEDF0;
    height: 650px;
}

.containerDesplegableyTitulo {
    width: 70%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
}

.containerDesplegableyTitulo {
    margin-top: 10px;
}

.labelBGAndMore {
    border-color: black;
    height: 70px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: black;
    margin-bottom: 40px;
}


.buttonRadiousAndMoreContinue {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 70px;
    width: 250px;
    border-radius: 6px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14.4px;
    background-color: black;
    opacity: 0.90;
    color: white;
    font-weight: 700;
    border: 2px solid white;

}

.desplegableNivel {
    font-weight: 700;
}

.textoError {
    color: red;
    margin-top: 20px;
}

.tituloSubrayado {
    width: 540px;
    border-bottom: solid 3px black;
    margin-bottom: 20px;
}

.contenedorSeleccionDia {
    border-top: solid 3px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: #EEEDF0;
    height: 650px;
}

.tituloSubrayadoDia {

    width: 575px;
    border-bottom: solid 3px black;
    margin-bottom: 20px;


}


.contenedorSeleccionCurso {
    border-top: solid 3px black;
    height: 400px;
    background-color: #EEEDF0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}


.contenedorUlListados {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-decoration: none;
    list-style-type: none;

}

.containerFecha {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
    text-decoration: none;
    list-style: none;

}



li.liListados {
    list-style: none;
    list-style-type: none;
}

.contenedorPorListado {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    border-bottom: solid 1.5px black;
    width: 100%;
    margin-top: 20px;
    height: 100px;
}

.pruebaClassName {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-content: center;

}

.contenedorNivel {
    margin-right: 20px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
}

.tituloListado {
    font-weight: 500;
    font-size: 20px;
}

.tituloSubrayadoListadoCursos {
    width: 540px;
    border-bottom: solid 3px black;
    margin-top: 80px;
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.contenedorPrincipalSeleccionCurso {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 100%;

}

.seccionDeListado {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 100%;

}

.buttonRadiousAndMoreListado {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 50px;
    width: 200px;
    border-radius: 6px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14.4px;
    background-color: black;
    opacity: 0.90;
    color: white;
    font-weight: 700;
    border: 2px solid white;
    margin-left: 25px;
}

.sinDatosParaMostrarDiv {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;

}


.espacioDeListado {
    height: 150px;
}


.seccionCarritoCursoElegido {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    border-bottom: solid 1.5px black;
    width: 100%;
    margin-top: 20px;
    height: 300px;
}

.reservaCursoElegido {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    align-content: center;

}

.tituloSubrayadoListadoCursosReserva {
    width: 250px;
    border-bottom: solid 3px black;

    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.buttonRadiousAndMoreEditaReserva {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 50px;
    width: 200px;
    border-radius: 6px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14.4px;
    background-color: black;
    opacity: 0.90;
    color: white;
    font-weight: 700;
    border: 2px solid white;
    margin-left: 25px;
    margin-top: 20px;
}

.tituloSubrayadoListadoCursosRFormulario {
    width: 250px;
    border-bottom: solid 3px black;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 30px;
}

.seccionTituloFormulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 100px;
    margin-top: 30px;
    height: 100px;
}

.seccionContenedoresPlan {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 100px;
    margin-top: 30px;
    height: 300px;
}




.seccionContenedoresPlan {
    height: 800px;
}


.contenedorPrincipalElegiCurso {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 700px;
    width: 100%;
}

.contenedorPlanBeca {
    height: 100%;
    width: 60%;
    border: 2px solid black;
    margin-bottom: 50px;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: center;
    background-color: #F58D00;
    color: black;
    box-shadow: 0 10px 10px 0 rgba(90, 116, 148, 0.3);
}



.requisitosYVasATener {
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;


}

.requisitosYVasATener ul {

    padding-left: 0px;
}

.requisitosYVasATener li {
    list-style: none;
    list-style-type: lower-roman;
    padding: 5px;
    font-size: 1rem;
    font-weight: 500;
}

.requisitosYVasATener h5 {
    font-weight: 600;

}

.contenedorPlanSinBeca {
    height: 100%;
    width: 60%;
    border: 2px solid black;
    border-radius: 7px;
    margin-bottom: 20px;
    box-shadow: 0 10px 10px 0 rgba(90, 116, 148, 0.3);
}


.headerContenedorPlan {
    padding-top: 20px;
    padding-left: 10px;
}

.tituContenedorPlan {
    font-weight: 500;
}

.subContenedor {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    align-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.buttonRadiousAndMoreElegir {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 50px;
    width: 170px;
    border-radius: 6px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14.4px;
    background-color: black;
    opacity: 0.90;
    color: white;
    font-weight: 700;
    border: 2px solid white;
    margin-right: 20px;

}

.botonEligePrecio {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
    width: 100%;
}

.contenedorPlanSinBeca {
    height: 100%;
    width: 60%;
    border: 2px solid black;
    margin-bottom: 50px;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: center;
}



.seccionCompletaFormulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    border-top: solid 1.5px black;
    width: 100%;
    margin-top: 20px;
    height: 200px;
}

.seccionFormulario {
    height: 500px;
    width: 100%;
}


.tituloSubrayadoListadoCursosFormulario {
    width: 400px;
    border-bottom: solid 3px black;

    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.contenedorPrincipalFormulario {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    height: 500px;
    width: 100%;

}

.contenedorFormularioIzquierda {
    height: 250px;
    width: 100%;

}

.contenedorFormularioDerecha {
    height: 250px;
    width: 100%;
}

.formularioReserva {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    width: 80%;
    margin-top: 20px;
}

.nombreYApellido {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 100px;
}

.divnombreApellidoEdad {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    width: 80%;
}

.emailYConfirmacion {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    width: 80%;
}

.email {
    margin-bottom: 20px;
    width: 48%;
    margin-right: 5px;

}

.emailConfirma {
    width: 50%;
    margin-bottom: 20px;
    margin-left: 5px;
}

.nombres {
    width: 50%;
    margin-bottom: 20px;
    margin-right: 10px;


}

.apellido {
    width: 30%;
    margin-bottom: 20px;

}

.edad {
    width: 20%;
    margin-bottom: 20px;
    margin-left: 10px;
}

.divDNIyLocalidad {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    width: 80%;
}

.dni {
    margin-bottom: 20px;
    width: 48%;
    margin-right: 5px;

}

.localidad {
    margin-bottom: 20px;
    width: 50%;
    margin-left: 5px;

}

.divDomicilio {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    width: 80%;

}

.calle {
    margin-bottom: 20px;
    width: 60%;
    margin-right: 10px;
}

.altura {
    margin-bottom: 20px;
    width: 40%;
    margin-right: 10px;
}

.depto {
    margin-bottom: 20px;
    width: 20%;
}

/* Seccion tarjeta de crédito */

.contenedor {
    width: 90%;
    max-width: 1000px;
    padding: 40px 20px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ---------- Estilos Generales de las Tarjetas ----------*/
.tarjeta {
    width: 100%;
    max-width: 550px;
    position: relative;
    color: #fff;
    transition: .3s ease all;
    transform: rotateY(0deg);
    transform-style: preserve-3d;
    cursor: pointer;
    z-index: 2;
}

.tarjeta.active {
    transform: rotateY(180deg);
}

.tarjeta>div {
    padding: 30px;
    border-radius: 15px;
    min-height: 315px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 10px 10px 0 rgba(90, 116, 148, 0.3);
}

/* ---------- Tarjeta Delantera ----------*/

.tarjeta .delantera {
    width: 100%;
    background: url(../Imagenes/img/bg-tarjeta/bg-tarjeta-02.jpg);
    background-size: cover;
}

.delantera .logo-marca {
    text-align: right;
    min-height: 50px;
}

.delantera .logo-marca img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-width: 80px;
}

.delantera .chip {
    width: 100%;
    max-width: 50px;
    margin-bottom: 20px;
}

.delantera .grupo .label {
    font-size: 16px;
    color: #7d8994;
    margin-bottom: 5px;
}

.delantera .grupo .numero,
.delantera .grupo .nombre,
.delantera .grupo .expiracion {
    color: #fff;
    font-size: 22px;
    text-transform: uppercase;
}

.delantera .flexbox {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

/* ---------- Tarjeta Trasera ----------*/
.trasera {
    background: url(../Imagenes/img/bg-tarjeta/bg-tarjeta-02.jpg);
    background-size: cover;
    position: absolute;
    top: 0;
    transform: rotateY(180deg);
    backface-visibility: hidden;
}

.trasera .barra-magnetica {
    height: 40px;
    background: #000;
    width: 100%;
    position: absolute;
    top: 30px;
    left: 0;
}

.trasera .datos {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
}

.trasera .datos p {
    margin-bottom: 5px;
}

.trasera .datos #firma {
    width: 70%;
}

.trasera .datos #firma .firma {
    height: 40px;
    background: repeating-linear-gradient(skyblue 0, skyblue 5px, orange 5px, orange 10px);
}

.trasera .datos #firma .firma p {
    line-height: 40px;
    font-family: 'Liu Jian Mao Cao', cursive;
    color: #000;
    font-size: 30px;
    padding: 0 10px;
    text-transform: capitalize;
}

.trasera .datos #ccv {
    width: 20%;
}

.trasera .datos #ccv .ccv {
    background: #fff;
    height: 40px;
    color: #000;
    padding: 10px;
    text-align: center;
}

.trasera .leyenda {
    font-size: 14px;
    line-height: 24px;
}

.trasera .link-banco {
    font-size: 14px;
    color: #fff;
}

/* ---------- Contenedor Boton ----------*/
.contenedor-btn .btn-abrir-formulario {
    width: 50px;
    height: 50px;
    font-size: 20px;
    line-height: 20px;
    background: #2364d2;
    color: #fff;
    position: relative;
    top: -25px;
    z-index: 3;
    border-radius: 100%;
    box-shadow: -5px 4px 8px rgba(24, 56, 182, 0.4);
    padding: 5px;
    transition: all .2s ease;
    border: none;
    cursor: pointer;
}

.contenedor-btn .btn-abrir-formulario:hover {
    background: #1850b1;
}

.contenedor-btn .btn-abrir-formulario.active {
    transform: rotate(45deg);
}

/* ---------- Formulario Tarjeta ----------*/
.formulario-tarjeta {
    background: #fff;
    width: 100%;
    max-width: 700px;
    padding: 150px 30px 30px 30px;
    border-radius: 10px;
    position: relative;
    top: -150px;
    z-index: 1;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    transition: clip-path .3s ease-out;
}

.formulario-tarjeta.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.formulario-tarjeta label {
    display: block;
    color: #7d8994;
    margin-bottom: 5px;
    font-size: 16px;
}

.formulario-tarjeta input,
.formulario-tarjeta select,
.btn-enviar {
    border: 2px solid #CED6E0;
    font-size: 18px;
    height: 50px;
    width: 100%;
    padding: 5px 12px;
    transition: .3s ease all;
    border-radius: 5px;
}

.formulario-tarjeta input:hover,
.formulario-tarjeta select:hover {
    border: 2px solid #93BDED;
}

.formulario-tarjeta input:focus,
.formulario-tarjeta select:focus {
    outline: rgb(4, 4, 4);
    box-shadow: 1px 7px 10px -5px rgba(90, 116, 148, 0.3);
}

.formulario-tarjeta input {
    margin-bottom: 20px;
    text-transform: uppercase;
}

.formulario-tarjeta .flexbox {
    display: flex;
    justify-content: space-between;
}

.formulario-tarjeta .expira {
    width: 100%;
}

.formulario-tarjeta .ccv {
    min-width: 100px;
}

.formulario-tarjeta .grupo-select {
    width: 100%;
    margin-right: 15px;
    position: relative;
}

.formulario-tarjeta select {
    -webkit-appearance: none;
}

.formulario-tarjeta .grupo-select i {
    position: absolute;
    color: #CED6E0;
    top: 18px;
    right: 15px;
    transition: .3s ease all;
}

.formulario-tarjeta .grupo-select:hover i {
    color: #93bfed;
}

.formulario-tarjeta .btn-enviar {
    border: none;
    padding: 10px;
    font-size: 22px;
    color: #fff;
    background: black;
    box-shadow: 2px 2px 10px 0px rgba(0, 85, 212, 0.4);
    cursor: pointer;
}

.formulario-tarjeta .btn-enviar:hover {
    background: #1850b1;
}

.tituloSubrayadoListadoCursosTicket {
    width: 550px;
    border-bottom: solid 3px black;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 30px;
}

.seccionContenedorTicket{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    height: 1200px;
}

.contenedorTicket {
    box-shadow: 2px 2px 10px 0px rgba(0, 85, 212, 0.4);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    height: 1000px;
    width: 60%;
}

.contenedorFila{
    margin-top: 10px;
    width: 100%;
    height: 50px;
    border-bottom: 1px solid grey;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
}

.valorFijo{
    padding-top: 10px;
    padding-left: 20px;
    width: 35%;
}

.valorFijo p {
    font-size: 16px;
    font-weight: 500;
}

.valorVariable{
    padding-top: 10px;
    padding-left: 20px;
    width: 50%;
}

.valorVariable p {
    font-size: 16px;
    
}

.imagenTitulo{
    margin-top: 10px;
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.logoTicket{
    width: 250px ;
    height: auto;
}

.contenedorDatosTicket{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: 80%;
    height: 1100px;
}

.comprobanteValido{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 80%;
}

.contenedorFilaValido{
    margin-top: 10px;
    width: 100%;
    height: 50px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    font-weight: 500;
}